<h2>Daniel's List</h2>


<div class="lista">
    <p *ngIf="componentes.length === 0"> No hay Digimons</p>
        <ul>
            <li *ngFor="let component of componentes,
                let i = index">
                {{component.name}} - Typo: {{component.type}}
                <button (click) ="deleteComponent(i)">Delete component</button>
            </li>
        </ul>
</div>

<div class="addPersona">
    <h3>Add Persona</h3>
        <input #componenteName placeholder="Name">
        <input #componenteType placeholder="type">

        <button (click) ="addComponent(componenteName.value, componenteType.value)">Add component</button>
</div>


<div class="selectPersona">
    <h3 >Add Persona Selection</h3>
        <input #componenteName1 placeholder="Name">
        <select #componenteType1>  
            <option *ngFor="let type of tiposComponente" 
            [value] ="type"> {{type}} </option>

        </select>

        <button (click) ="addComponent(componenteName1.value, componenteType1.value)">Add component</button>
</div>

<footer> Designed BY Daniel Miguélez</footer>
