h3{
    color: red;
}

.addPersona{
    background-color: rgb(155, 85, 15);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button{
    margin: 10px;
}
button:hover{
    background-color: rgb(56, 56, 136);
}